NET "LWR" LOC = "p160";
NET "ADS" LOC = "p98";
#NET "LClk" LOC = "p182"; #33MHz
NET "LClk" LOC = "p185"; #50MHz

NET "LAD<0>" LOC = "p153";
NET "LAD<1>" LOC = "p146";
NET "LAD<2>" LOC = "p142";
NET "LAD<3>" LOC = "p135";
NET "LAD<4>" LOC = "p126";
NET "LAD<5>" LOC = "p119";
NET "LAD<6>" LOC = "p115";
NET "LAD<7>" LOC = "p108";
NET "LAD<8>" LOC = "p174";
NET "LAD<9>" LOC = "p173";
NET "LAD<10>" LOC = "p172";
NET "LAD<11>" LOC = "p168";
NET "LAD<12>" LOC = "p167";
NET "LAD<13>" LOC = "p166";
NET "LAD<14>" LOC = "p165";
NET "LAD<15>" LOC = "p164";
NET "LAD<16>" LOC = "p163";
NET "LAD<17>" LOC = "p162";
NET "LAD<18>" LOC = "p152";
NET "LAD<19>" LOC = "p151";
NET "LAD<20>" LOC = "p150";
NET "LAD<21>" LOC = "p149";
NET "LAD<22>" LOC = "p148";
NET "LAD<23>" LOC = "p147";
NET "LAD<24>" LOC = "p141";
NET "LAD<25>" LOC = "p140";
NET "LAD<26>" LOC = "p139";
NET "LAD<27>" LOC = "p138";
NET "LAD<28>" LOC = "p136";
NET "LAD<29>" LOC = "p134";
NET "LAD<30>" LOC = "p133";
NET "LAD<31>" LOC = "p132";

NET "LEDS<0>" LOC = "p10";
NET "LEDS<1>" LOC = "p14";
NET "LEDS<2>" LOC = "p15";
NET "LEDS<3>" LOC = "p16";
NET "LEDS<4>" LOC = "p17";
NET "LEDS<5>" LOC = "p18";
NET "LEDS<6>" LOC = "p20";
NET "LEDS<7>" LOC = "p21";

NET "ST_CLK" LOC = "p96";
NET "ST_ENB" LOC = "p94";
NET "ST_DIS" LOC = "p89";
NET "ST_DIR" LOC = "p87";
NET "SP_BRK" LOC = "p84";
NET "SP_DIS" LOC = "p82";
NET "SP_DIR" LOC = "p75";

#NET "IOBits<0>" LOC = "p96";
#NET "IOBits<1>" LOC = "p94";
#NET "IOBits<2>" LOC = "p89";
#NET "IOBits<3>" LOC = "p87";
#NET "IOBits<4>" LOC = "p84";
#NET "IOBits<5>" LOC = "p82";
#NET "IOBits<6>" LOC = "p75";
#NET "IOBits<7>" LOC = "p73";
#NET "IOBits<8>" LOC = "p70";
#NET "IOBits<9>" LOC = "p68";
#NET "IOBits<10>" LOC = "p63";