NET "LClk" TNM_NET = "LClk";
TIMESPEC "TS_LClk" = PERIOD "LClk" 15 ns HIGH 50 %;
NET "SYNCLK" TNM_NET = "SYNCLK";
TIMESPEC "TS_SYNCLK" = PERIOD "SYNCLK" 20 ns HIGH 50 %;
NET "ADS" LOC = "p98";
NET "INT" LOC = "p112";
NET "IOBits<0>" LOC = "p96";
NET "IOBits<1>" LOC = "p94";
NET "IOBits<2>" LOC = "p89";
NET "IOBits<3>" LOC = "p87";
NET "IOBits<4>" LOC = "p84";
NET "IOBits<5>" LOC = "p82";
NET "IOBits<6>" LOC = "p75";
NET "IOBits<7>" LOC = "p73";
NET "IOBits<8>" LOC = "p70";
NET "IOBits<9>" LOC = "p68";
NET "IOBits<10>" LOC = "p63";
NET "IOBits<11>" LOC = "p61";
NET "IOBits<12>" LOC = "p59";
NET "IOBits<13>" LOC = "p57";
NET "IOBits<14>" LOC = "p48";
NET "IOBits<15>" LOC = "p46";
NET "IOBits<16>" LOC = "p44";
NET "IOBits<17>" LOC = "p42";
NET "IOBits<18>" LOC = "p37";
NET "IOBits<19>" LOC = "p35";
NET "IOBits<20>" LOC = "p33";
NET "IOBits<21>" LOC = "p30";
NET "IOBits<22>" LOC = "p27";
NET "IOBits<23>" LOC = "p23";
NET "IOBits<24>" LOC = "p95";
NET "IOBits<25>" LOC = "p90";
NET "IOBits<26>" LOC = "p88";
NET "IOBits<27>" LOC = "p86";
NET "IOBits<28>" LOC = "p83";
NET "IOBits<29>" LOC = "p81";
NET "IOBits<30>" LOC = "p74";
NET "IOBits<31>" LOC = "p71";
NET "IOBits<32>" LOC = "p69";
NET "IOBits<33>" LOC = "p67";
NET "IOBits<34>" LOC = "p62";
NET "IOBits<35>" LOC = "p60";
NET "IOBits<36>" LOC = "p58";
NET "IOBits<37>" LOC = "p49";
NET "IOBits<38>" LOC = "p47";
NET "IOBits<39>" LOC = "p45";
NET "IOBits<40>" LOC = "p43";
NET "IOBits<41>" LOC = "p41";
NET "IOBits<42>" LOC = "p36";
NET "IOBits<43>" LOC = "p34";
NET "IOBits<44>" LOC = "p31";
NET "IOBits<45>" LOC = "p29";
NET "IOBits<46>" LOC = "p24";
NET "IOBits<47>" LOC = "p22";
NET "IOBits<48>" LOC = "p181";
NET "IOBits<49>" LOC = "p187";
NET "IOBits<50>" LOC = "p188";
NET "IOBits<51>" LOC = "p189";
NET "IOBits<52>" LOC = "p191";
NET "IOBits<53>" LOC = "p192";
NET "IOBits<54>" LOC = "p193";
NET "IOBits<55>" LOC = "p194";
NET "IOBits<56>" LOC = "p195";
NET "IOBits<57>" LOC = "p199";
NET "IOBits<58>" LOC = "p200";
NET "IOBits<59>" LOC = "p201";
NET "IOBits<60>" LOC = "p202";
NET "IOBits<61>" LOC = "p203";
NET "IOBits<62>" LOC = "p204";
NET "IOBits<63>" LOC = "p205";
NET "IOBits<64>" LOC = "p206";
NET "IOBits<65>" LOC = "p3";
NET "IOBits<66>" LOC = "p4";
NET "IOBits<67>" LOC = "p5";
NET "IOBits<68>" LOC = "p6";
NET "IOBits<69>" LOC = "p7";
NET "IOBits<70>" LOC = "p8";
NET "IOBits<71>" LOC = "p9";
NET "LAD<0>" LOC = "p153";
NET "LAD<1>" LOC = "p146";
NET "LAD<2>" LOC = "p142";
NET "LAD<3>" LOC = "p135";
NET "LAD<4>" LOC = "p126";
NET "LAD<5>" LOC = "p119";
NET "LAD<6>" LOC = "p115";
NET "LAD<7>" LOC = "p108";
NET "LAD<8>" LOC = "p174";
NET "LAD<9>" LOC = "p173";
NET "LAD<10>" LOC = "p172";
NET "LAD<11>" LOC = "p168";
NET "LAD<12>" LOC = "p167";
NET "LAD<13>" LOC = "p166";
NET "LAD<14>" LOC = "p165";
NET "LAD<15>" LOC = "p164";
NET "LAD<16>" LOC = "p163";
NET "LAD<17>" LOC = "p162";
NET "LAD<18>" LOC = "p152";
NET "LAD<19>" LOC = "p151";
NET "LAD<20>" LOC = "p150";
NET "LAD<21>" LOC = "p149";
NET "LAD<22>" LOC = "p148";
NET "LAD<23>" LOC = "p147";
NET "LAD<24>" LOC = "p141";
NET "LAD<25>" LOC = "p140";
NET "LAD<26>" LOC = "p139";
NET "LAD<27>" LOC = "p138";
NET "LAD<28>" LOC = "p136";
NET "LAD<29>" LOC = "p134";
NET "LAD<30>" LOC = "p133";
NET "LAD<31>" LOC = "p132";
NET "LClk" LOC = "p182";
NET "LEDS<0>" LOC = "p10";
NET "LEDS<1>" LOC = "p14";
NET "LEDS<2>" LOC = "p15";
NET "LEDS<3>" LOC = "p16";
NET "LEDS<4>" LOC = "p17";
NET "LEDS<5>" LOC = "p18";
NET "LEDS<6>" LOC = "p20";
NET "LEDS<7>" LOC = "p21";
NET "LRD" LOC = "p100";
NET "LWR" LOC = "p160";
NET "READY" LOC = "p102";
NET "SYNCLK" LOC = "p185";
NET "INT" FAST;
NET "INT" DRIVE = 24;
NET "IOBits<0>" SLOW;
NET "IOBits<1>" SLOW;
NET "IOBits<2>" SLOW;
NET "IOBits<3>" SLOW;
NET "IOBits<4>" SLOW;
NET "IOBits<5>" SLOW;
NET "IOBits<6>" SLOW;
NET "IOBits<7>" SLOW;
NET "IOBits<8>" SLOW;
NET "IOBits<9>" SLOW;
NET "IOBits<10>" SLOW;
NET "IOBits<11>" SLOW;
NET "IOBits<12>" SLOW;
NET "IOBits<13>" SLOW;
NET "IOBits<14>" SLOW;
NET "IOBits<15>" SLOW;
NET "IOBits<16>" SLOW;
NET "IOBits<17>" SLOW;
NET "IOBits<18>" SLOW;
NET "IOBits<19>" SLOW;
NET "IOBits<20>" SLOW;
NET "IOBits<21>" SLOW;
NET "IOBits<22>" SLOW;
NET "IOBits<23>" SLOW;
NET "IOBits<24>" SLOW;
NET "IOBits<25>" SLOW;
NET "IOBits<26>" SLOW;
NET "IOBits<27>" SLOW;
NET "IOBits<28>" SLOW;
NET "IOBits<29>" SLOW;
NET "IOBits<30>" SLOW;
NET "IOBits<31>" SLOW;
NET "IOBits<32>" SLOW;
NET "IOBits<33>" SLOW;
NET "IOBits<34>" SLOW;
NET "IOBits<35>" SLOW;
NET "IOBits<36>" SLOW;
NET "IOBits<37>" SLOW;
NET "IOBits<38>" SLOW;
NET "IOBits<39>" SLOW;
NET "IOBits<40>" SLOW;
NET "IOBits<41>" SLOW;
NET "IOBits<42>" SLOW;
NET "IOBits<43>" SLOW;
NET "IOBits<44>" SLOW;
NET "IOBits<45>" SLOW;
NET "IOBits<46>" SLOW;
NET "IOBits<47>" SLOW;
NET "IOBits<48>" SLOW;
NET "IOBits<49>" SLOW;
NET "IOBits<50>" SLOW;
NET "IOBits<51>" SLOW;
NET "IOBits<52>" SLOW;
NET "IOBits<53>" SLOW;
NET "IOBits<54>" SLOW;
NET "IOBits<55>" SLOW;
NET "IOBits<56>" SLOW;
NET "IOBits<57>" SLOW;
NET "IOBits<58>" SLOW;
NET "IOBits<59>" SLOW;
NET "IOBits<60>" SLOW;
NET "IOBits<61>" SLOW;
NET "IOBits<62>" SLOW;
NET "IOBits<63>" SLOW;
NET "IOBits<64>" SLOW;
NET "IOBits<65>" SLOW;
NET "IOBits<66>" SLOW;
NET "IOBits<67>" SLOW;
NET "IOBits<68>" SLOW;
NET "IOBits<69>" SLOW;
NET "IOBits<70>" SLOW;
NET "IOBits<71>" SLOW;
NET "LAD<30>" FAST;
NET "LAD<0>" FAST;
NET "LAD<1>" FAST;
NET "LAD<2>" FAST;
NET "LAD<3>" FAST;
NET "LAD<4>" FAST;
NET "LAD<5>" FAST;
NET "LAD<6>" FAST;
NET "LAD<7>" FAST;
NET "LAD<8>" FAST;
NET "LAD<9>" FAST;
NET "LAD<10>" FAST;
NET "LAD<11>" FAST;
NET "LAD<12>" FAST;
NET "LAD<13>" FAST;
NET "LAD<14>" FAST;
NET "LAD<15>" FAST;
NET "LAD<16>" FAST;
NET "LAD<17>" FAST;
NET "LAD<18>" FAST;
NET "LAD<19>" FAST;
NET "LAD<20>" FAST;
NET "LAD<21>" FAST;
NET "LAD<22>" FAST;
NET "LAD<23>" FAST;
NET "LAD<24>" FAST;
NET "LAD<25>" FAST;
NET "LAD<26>" FAST;
NET "LAD<27>" FAST;
NET "LAD<28>" FAST;
NET "LAD<29>" FAST;
NET "LEDS<0>" SLOW;
NET "LEDS<1>" SLOW;
NET "LEDS<2>" SLOW;
NET "LEDS<3>" SLOW;
NET "LEDS<4>" SLOW;
NET "LEDS<5>" SLOW;
NET "LEDS<6>" SLOW;
NET "LEDS<7>" SLOW;
NET "LEDS<0>" DRIVE = 24;
NET "LEDS<1>" DRIVE = 24;
NET "LEDS<2>" DRIVE = 24;
NET "LEDS<3>" DRIVE = 24;
NET "LEDS<4>" DRIVE = 24;
NET "LEDS<5>" DRIVE = 24;
NET "LEDS<6>" DRIVE = 24;
NET "LEDS<7>" DRIVE = 24;
NET "IOBits<0>" IOSTANDARD = LVTTL;
NET "IOBits<1>" IOSTANDARD = LVTTL;
NET "IOBits<2>" IOSTANDARD = LVTTL;
NET "IOBits<3>" IOSTANDARD = LVTTL;
NET "IOBits<4>" IOSTANDARD = LVTTL;
NET "IOBits<5>" IOSTANDARD = LVTTL;
NET "IOBits<6>" IOSTANDARD = LVTTL;
NET "IOBits<7>" IOSTANDARD = LVTTL;
NET "IOBits<8>" IOSTANDARD = LVTTL;
NET "IOBits<9>" IOSTANDARD = LVTTL;
NET "IOBits<10>" IOSTANDARD = LVTTL;
NET "IOBits<11>" IOSTANDARD = LVTTL;
NET "IOBits<12>" IOSTANDARD = LVTTL;
NET "IOBits<13>" IOSTANDARD = LVTTL;
NET "IOBits<14>" IOSTANDARD = LVTTL;
NET "IOBits<15>" IOSTANDARD = LVTTL;
NET "IOBits<16>" IOSTANDARD = LVTTL;
NET "IOBits<17>" IOSTANDARD = LVTTL;
NET "IOBits<18>" IOSTANDARD = LVTTL;
NET "IOBits<19>" IOSTANDARD = LVTTL;
NET "IOBits<20>" IOSTANDARD = LVTTL;
NET "IOBits<21>" IOSTANDARD = LVTTL;
NET "IOBits<22>" IOSTANDARD = LVTTL;
NET "IOBits<23>" IOSTANDARD = LVTTL;
NET "IOBits<24>" IOSTANDARD = LVTTL;
NET "IOBits<25>" IOSTANDARD = LVTTL;
NET "IOBits<26>" IOSTANDARD = LVTTL;
NET "IOBits<27>" IOSTANDARD = LVTTL;
NET "IOBits<28>" IOSTANDARD = LVTTL;
NET "IOBits<29>" IOSTANDARD = LVTTL;
NET "IOBits<30>" IOSTANDARD = LVTTL;
NET "IOBits<31>" IOSTANDARD = LVTTL;
NET "IOBits<32>" IOSTANDARD = LVTTL;
NET "IOBits<33>" IOSTANDARD = LVTTL;
NET "IOBits<34>" IOSTANDARD = LVTTL;
NET "IOBits<35>" IOSTANDARD = LVTTL;
NET "IOBits<36>" IOSTANDARD = LVTTL;
NET "IOBits<37>" IOSTANDARD = LVTTL;
NET "IOBits<38>" IOSTANDARD = LVTTL;
NET "IOBits<39>" IOSTANDARD = LVTTL;
NET "IOBits<40>" IOSTANDARD = LVTTL;
NET "IOBits<41>" IOSTANDARD = LVTTL;
NET "IOBits<42>" IOSTANDARD = LVTTL;
NET "IOBits<43>" IOSTANDARD = LVTTL;
NET "IOBits<44>" IOSTANDARD = LVTTL;
NET "IOBits<45>" IOSTANDARD = LVTTL;
NET "IOBits<46>" IOSTANDARD = LVTTL;
NET "IOBits<47>" IOSTANDARD = LVTTL;
NET "IOBits<48>" IOSTANDARD = LVTTL;
NET "IOBits<49>" IOSTANDARD = LVTTL;
NET "IOBits<50>" IOSTANDARD = LVTTL;
NET "IOBits<51>" IOSTANDARD = LVTTL;
NET "IOBits<52>" IOSTANDARD = LVTTL;
NET "IOBits<53>" IOSTANDARD = LVTTL;
NET "IOBits<54>" IOSTANDARD = LVTTL;
NET "IOBits<55>" IOSTANDARD = LVTTL;
NET "IOBits<56>" IOSTANDARD = LVTTL;
NET "IOBits<57>" IOSTANDARD = LVTTL;
NET "IOBits<58>" IOSTANDARD = LVTTL;
NET "IOBits<59>" IOSTANDARD = LVTTL;
NET "IOBits<60>" IOSTANDARD = LVTTL;
NET "IOBits<61>" IOSTANDARD = LVTTL;
NET "IOBits<62>" IOSTANDARD = LVTTL;
NET "IOBits<63>" IOSTANDARD = LVTTL;
NET "IOBits<64>" IOSTANDARD = LVTTL;
NET "IOBits<65>" IOSTANDARD = LVTTL;
NET "IOBits<66>" IOSTANDARD = LVTTL;
NET "IOBits<67>" IOSTANDARD = LVTTL;
NET "IOBits<68>" IOSTANDARD = LVTTL;
NET "IOBits<69>" IOSTANDARD = LVTTL;
NET "IOBits<70>" IOSTANDARD = LVTTL;
NET "IOBits<71>" IOSTANDARD = LVTTL;
NET "LAD<0>" IOSTANDARD = LVTTL;
NET "LAD<1>" IOSTANDARD = LVTTL;
NET "LAD<2>" IOSTANDARD = LVTTL;
NET "LAD<3>" IOSTANDARD = LVTTL;
NET "LAD<4>" IOSTANDARD = LVTTL;
NET "LAD<5>" IOSTANDARD = LVTTL;
NET "LAD<6>" IOSTANDARD = LVTTL;
NET "LAD<7>" IOSTANDARD = LVTTL;
NET "LAD<8>" IOSTANDARD = LVTTL;
NET "LAD<9>" IOSTANDARD = LVTTL;
NET "LAD<10>" IOSTANDARD = LVTTL;
NET "LAD<11>" IOSTANDARD = LVTTL;
NET "LAD<12>" IOSTANDARD = LVTTL;
NET "LAD<13>" IOSTANDARD = LVTTL;
NET "LAD<14>" IOSTANDARD = LVTTL;
NET "LAD<15>" IOSTANDARD = LVTTL;
NET "LAD<16>" IOSTANDARD = LVTTL;
NET "LAD<17>" IOSTANDARD = LVTTL;
NET "LAD<18>" IOSTANDARD = LVTTL;
NET "LAD<19>" IOSTANDARD = LVTTL;
NET "LAD<20>" IOSTANDARD = LVTTL;
NET "LAD<21>" IOSTANDARD = LVTTL;
NET "LAD<22>" IOSTANDARD = LVTTL;
NET "LAD<23>" IOSTANDARD = LVTTL;
NET "LAD<24>" IOSTANDARD = LVTTL;
NET "LAD<25>" IOSTANDARD = LVTTL;
NET "LAD<26>" IOSTANDARD = LVTTL;
NET "LAD<27>" IOSTANDARD = LVTTL;
NET "LAD<28>" IOSTANDARD = LVTTL;
NET "LAD<29>" IOSTANDARD = LVTTL;
NET "LAD<30>" IOSTANDARD = LVTTL;
NET "LAD<31>" IOSTANDARD = LVTTL;
NET "LAD<0>" DRIVE = 8;
NET "LAD<1>" DRIVE = 8;
NET "LAD<2>" DRIVE = 8;
NET "LAD<3>" DRIVE = 8;
NET "LAD<4>" DRIVE = 8;
NET "LAD<5>" DRIVE = 8;
NET "LAD<6>" DRIVE = 8;
NET "LAD<7>" DRIVE = 8;
NET "LAD<8>" DRIVE = 8;
NET "LAD<9>" DRIVE = 8;
NET "LAD<10>" DRIVE = 8;
NET "LAD<11>" DRIVE = 8;
NET "LAD<12>" DRIVE = 8;
NET "LAD<13>" DRIVE = 8;
NET "LAD<14>" DRIVE = 8;
NET "LAD<15>" DRIVE = 8;
NET "LAD<16>" DRIVE = 8;
NET "LAD<17>" DRIVE = 8;
NET "LAD<18>" DRIVE = 8;
NET "LAD<19>" DRIVE = 8;
NET "LAD<20>" DRIVE = 8;
NET "LAD<21>" DRIVE = 8;
NET "LAD<22>" DRIVE = 8;
NET "LAD<23>" DRIVE = 8;
NET "LAD<24>" DRIVE = 8;
NET "LAD<25>" DRIVE = 8;
NET "LAD<26>" DRIVE = 8;
NET "LAD<27>" DRIVE = 8;
NET "LAD<28>" DRIVE = 8;
NET "LAD<29>" DRIVE = 8;
NET "LAD<30>" DRIVE = 8;
NET "LAD<31>" DRIVE = 8;
NET "LAD<31>" FAST;
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 25 ns;
OFFSET = OUT 20 ns AFTER "LClk";
NET "LW_R" LOC = "p101";
NET "LClk" IOSTANDARD = LVTTL;
NET "LEDS<0>" IOSTANDARD = LVTTL;
NET "LEDS<1>" IOSTANDARD = LVTTL;
NET "LEDS<2>" IOSTANDARD = LVTTL;
NET "LEDS<3>" IOSTANDARD = LVTTL;
NET "LEDS<4>" IOSTANDARD = LVTTL;
NET "LEDS<5>" IOSTANDARD = LVTTL;
NET "LEDS<6>" IOSTANDARD = LVTTL;
NET "LEDS<7>" IOSTANDARD = LVTTL;
NET "LRD" IOSTANDARD = LVTTL;
NET "LWR" IOSTANDARD = LVTTL;
NET "LW_R" IOSTANDARD = LVTTL;
NET "READY" IOSTANDARD = LVTTL;
NET "SYNCLK" IOSTANDARD = LVTTL;
NET "ADS" IOSTANDARD = LVTTL;
NET "INT" IOSTANDARD = LVTTL;
