
NET "ADS" LOC = "p98";
#NET "INT" LOC = "p112";
NET "IOBits<0>" LOC = "p96";
NET "IOBits<1>" LOC = "p94";
NET "IOBits<2>" LOC = "p89";
NET "IOBits<3>" LOC = "p87";
NET "IOBits<4>" LOC = "p84";
NET "IOBits<5>" LOC = "p82";
NET "IOBits<6>" LOC = "p75";
NET "IOBits<7>" LOC = "p73";
NET "IOBits<8>" LOC = "p70";
NET "IOBits<9>" LOC = "p68";
NET "IOBits<10>" LOC = "p63";
NET "IOBits<11>" LOC = "p61";
NET "IOBits<12>" LOC = "p59";
NET "IOBits<13>" LOC = "p57";
NET "IOBits<14>" LOC = "p48";
NET "IOBits<15>" LOC = "p46";
NET "IOBits<16>" LOC = "p44";
NET "IOBits<17>" LOC = "p42";
NET "IOBits<18>" LOC = "p37";
NET "IOBits<19>" LOC = "p35";
NET "IOBits<20>" LOC = "p33";
NET "IOBits<21>" LOC = "p30";
NET "IOBits<22>" LOC = "p27";
NET "IOBits<23>" LOC = "p23";
NET "IOBits<24>" LOC = "p95";
NET "IOBits<25>" LOC = "p90";
NET "IOBits<26>" LOC = "p88";
NET "IOBits<27>" LOC = "p86";
NET "IOBits<28>" LOC = "p83";
NET "IOBits<29>" LOC = "p81";
NET "IOBits<30>" LOC = "p74";
NET "IOBits<31>" LOC = "p71";
NET "IOBits<32>" LOC = "p69";
NET "IOBits<33>" LOC = "p67";
NET "IOBits<34>" LOC = "p62";
NET "IOBits<35>" LOC = "p60";
NET "IOBits<36>" LOC = "p58";
NET "IOBits<37>" LOC = "p49";
NET "IOBits<38>" LOC = "p47";
NET "IOBits<39>" LOC = "p45";
NET "IOBits<40>" LOC = "p43";
NET "IOBits<41>" LOC = "p41";
NET "IOBits<42>" LOC = "p36";
NET "IOBits<43>" LOC = "p34";
NET "IOBits<44>" LOC = "p31";
NET "IOBits<45>" LOC = "p29";
NET "IOBits<46>" LOC = "p24";
NET "IOBits<47>" LOC = "p22";
NET "IOBits<48>" LOC = "p181";
NET "IOBits<49>" LOC = "p187";
NET "IOBits<50>" LOC = "p188";
NET "IOBits<51>" LOC = "p189";
NET "IOBits<52>" LOC = "p191";
NET "IOBits<53>" LOC = "p192";
NET "IOBits<54>" LOC = "p193";
NET "IOBits<55>" LOC = "p194";
NET "IOBits<56>" LOC = "p195";
NET "IOBits<57>" LOC = "p199";
NET "IOBits<58>" LOC = "p200";
NET "IOBits<59>" LOC = "p201";
NET "IOBits<60>" LOC = "p202";
NET "IOBits<61>" LOC = "p203";
NET "IOBits<62>" LOC = "p204";
NET "IOBits<63>" LOC = "p205";
NET "IOBits<64>" LOC = "p206";
NET "IOBits<65>" LOC = "p3";
NET "IOBits<66>" LOC = "p4";
NET "IOBits<67>" LOC = "p5";
NET "IOBits<68>" LOC = "p6";
NET "IOBits<69>" LOC = "p7";
NET "IOBits<70>" LOC = "p8";
NET "IOBits<71>" LOC = "p9";
NET "LAD<0>" LOC = "p153";
NET "LAD<1>" LOC = "p146";
NET "LAD<2>" LOC = "p142";
NET "LAD<3>" LOC = "p135";
NET "LAD<4>" LOC = "p126";
NET "LAD<5>" LOC = "p119";
NET "LAD<6>" LOC = "p115";
NET "LAD<7>" LOC = "p108";
NET "LAD<8>" LOC = "p174";
NET "LAD<9>" LOC = "p173";
NET "LAD<10>" LOC = "p172";
NET "LAD<11>" LOC = "p168";
NET "LAD<12>" LOC = "p167";
NET "LAD<13>" LOC = "p166";
NET "LAD<14>" LOC = "p165";
NET "LAD<15>" LOC = "p164";
NET "LAD<16>" LOC = "p163";
NET "LAD<17>" LOC = "p162";
NET "LAD<18>" LOC = "p152";
NET "LAD<19>" LOC = "p151";
NET "LAD<20>" LOC = "p150";
NET "LAD<21>" LOC = "p149";
NET "LAD<22>" LOC = "p148";
NET "LAD<23>" LOC = "p147";
NET "LAD<24>" LOC = "p141";
NET "LAD<25>" LOC = "p140";
NET "LAD<26>" LOC = "p139";
NET "LAD<27>" LOC = "p138";
NET "LAD<28>" LOC = "p136";
NET "LAD<29>" LOC = "p134";
NET "LAD<30>" LOC = "p133";
NET "LAD<31>" LOC = "p132";
NET "LClk" LOC = "p182";
NET "LEDS<0>" LOC = "p10";
NET "LEDS<1>" LOC = "p14";
NET "LEDS<2>" LOC = "p15";
NET "LEDS<3>" LOC = "p16";
NET "LEDS<4>" LOC = "p17";
NET "LEDS<5>" LOC = "p18";
NET "LEDS<6>" LOC = "p20";
NET "LEDS<7>" LOC = "p21";
NET "LRD" LOC = "p100";
NET "LWR" LOC = "p160";
#NET "READY" LOC = "p102";
NET "SYNCLK" LOC = "p185";
NET "LW_R" LOC = "p101";
